body {
    background: rgb(140, 79, 2);
    background: linear-gradient(0deg, rgba(140, 79, 2, 1) 0%, rgba(57, 147, 156, 1) 49%, rgba(0, 96, 100, 1) 100%);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.search-panel{
    border-radius: 15px;
    background-color: transparent;
    margin-top: 50px;
}

.btn{
    margin: 5px;
}

.profile-header{
    color: white;
}

.bold{
    font-weight: normal;
}

main {
    flex: 1 0 auto;
}

.uppercase {
    text-transform: uppercase;
}

.flashes h4 {
    line-height: 2;
}

.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 150%;
    height: 100%;
}

.brand-logo {
    width: 200px;
    height: 100px;
    margin-top: 5px;
    display: inline-block;
}

.logo>img {
    position: relative;
    top: 1px;
}

.nav-extended {
    height: 100px;
}

.page-footer {
    margin: 0;
    width: 100%;
    position: relative;
    min-height: 25px;
    text-align: center;
    font-size: 15px;
}

.social-links li a i {
    font-size: 1.4rem;
    color: rgba(151, 151, 151, 0.761);
    padding: 5px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.social-links li a i:hover {
    color: #ef6c00;
}

.display-inline {
    display: inline;
}