{% extends "base.html" %}
{% block content %}

<br>
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel">
            <h3 class="center-align light-blue-text text-darken-4">
                {{ username }}'s Profile
            </h3>
            <a class="btn-large cyan darken-4 text-shadow" href="{{ url_for('add_place') }}">Add place <i class="fas fa-map-marker-alt"></i></a>
        </div>
    </div>
</div>
<br>
<h3 class="white-text text-darken-4 center-align">My Places</h3>
<br>

<section>

    <div class="flexbox">
        {% for place in places %}
        {% if session.user|lower == places.created_by|lower %}
        <div class="row">
            <div class="col l6 s12 m4">
                <div class="card">

                    <div class="card-image">
                        <img src="{{ place.cover_picture }}" alt="Place picture">
                        <a class="btn-floating halfway-fab waves-effect waves-light orange darken-3 activator tooltipped"
                            data-position="bottom" data-tooltip="See more"><i class="fas fa-info"></i></a>
                    </div>
                    <div class="card-content card-title activator">
                        <p>{{ place.place_name }},<br>{{ place.country_name }}</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ place.place_name }}<br>
                            {{ place.category_name }}<i class="fas fa-times"></i></span>
                        <p>{{ place.place_description }}</p>
                        <p><strong>Link:</strong>{{ place.place_website }}</p>
                        <p>Map: {{ place.place_map }}</p>
                        <a href="{{ url_for('delete_place', place_id=place._id) }}"
                            class="btn-small green accent-4">Done</a>
                        <a href="{{ url_for('edit_places', place_id=place._id) }}"
                            class="btn-small light-blue lighten-1">Edit</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>

{% endblock %}